.listVer--listarea {
  display: inline-block;
}

.listVer--item {
  width: 180px;
}

.listVer--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.listVer--item img:hover {
  transform: scale(1);
  cursor: pointer;
}

.buttonAddVisto {
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.RemoverVer {
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.listVer--item:hover .RemoverVer,
.listVer--item:hover .buttonAddVisto {
  opacity: 1;
}

.buttonAddVisto:hover,
.RemoverVer:hover {
  color: red;
}
